/* 검색박스 */
.search__bar__group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #f9f9f9;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 5px;
}

.search__bar__sort {
  position: relative;
  width: 17%;
  height: 33px;
  color: #808080;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
  padding: 5px;
  background: #fff url("../image/select_arrow.png") no-repeat 97% 50%/23px auto;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
}

.search__bar__sort::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #999;
}

.search__bar__sort::-ms-expand {
  display: none;
}

.search__bar__inputbox {
  position: relative;
  width: 45%;
  height: 33px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
  padding: 10px;
}

.search__bar__qna__inputbox {
  position: relative;
  width: 35%;
  height: 33px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
  padding: 10px;
}

.search__bar__btn {
  position: relative;
  width: 15%;
  height: 33px;
  background-color: #5f90db;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
}

.search__bar__qna__btn {
  position: relative;
  width: 15%;
  height: 33px;
  background-color: #405069;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
}

/* 게시판 */
.board__list__group {
  margin-top: 20px;
}

.notice__view__group {
}

.board__title {
  margin-bottom: 30px;
}

.board__title strong {
  font-size: 3rem;
}

.board__title p {
  margin-top: 5px;
  font-size: 1.4rem;
}

.board__list {
  width: 100%;
  border-top: 4px solid #5f90db;
}

.board__list > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.board__list > div.top {
  border-bottom: 1px solid #999;
}

.board__list > div:last-child {
  border-bottom: 1px solid #ddd;
}

.board__list > div > div {
  display: inline-block;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

.board__list > div.top > div {
  font-size: 16px;
  font-weight: 500;
}

.board__list .num {
  width: 10%;
}

.board__list .title {
  width: 67%;
  text-align: left;
}

.board__list .top .title {
  text-align: center;
}

.board__list .writer {
  width: 10%;
}

.board__list .date {
  width: 13%;
}

.board__list .count {
  width: 10%;
}

.board__page {
  margin: 30px 0;
  text-align: center;
  font-size: 0;
}

.board__page a {
  display: inline-block;
  width: 40px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border-left: 0;
  line-height: 100%;
}

.board__page a.bt {
  font-size: 15px;
  letter-spacing: -1px;
  padding: 7px;
}

.board__page a.num {
  font-size: 15px;
  padding: 7px;
}

.board__page a.num.on {
  width: 30px;
  height: 30px;
  padding: 7px;
  background: #5f90db;
  color: #fff;
  border-radius: 100px;
}

.board__page a:first-child {
}

/* ========= 게시판 상세보기 ============ */
.ice__view__content {
  width: 100%;
}

.board__view__group {
  width: 100%;
}

.board__view__header {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.board__view__title {
  display: flex;
  align-items: center;
  width: 70%;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board__view__sub {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  font-size: 13px;
}

.board__view__reference {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.board__view__reference a {
  font-size: 14px;
}

.board__view__reference i {
  color: #666;
  background: #fff;
  font-size: 15px;
  margin-right: 10px;
}

.board__view__reference button {
  background-color: #fff;
}

.board__view__content {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 10px 50px 10px;
  min-height: 500px;
  font-size: 15px;
  font-weight: 300;
}

.board__view__content__question {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 10px;
  min-height: 250px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4rem;
  word-spacing: -1;
}

.board__view__content__answer {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 10px;
  font-size: 15px;
  background-color: #f5f9ff;
  min-height: 250px;
}

.board__view__content__answer p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.board__view__remote__group {
  width: 100%;
  font-size: 15px;
  font-weight: 300;
}

.board__view__remote {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}

.board__view__remote__btn {
  width: 12%;
  font-weight: 400;
}

.board__view__remote__title {
  width: 88%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ========= 게시판 상세보기 버튼 ============ */
.board__view__content__btn__group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.board__view__content__btn {
  width: 150px;
  height: 50px;
  background-color: #2c91ef;
  color: #ffffff;
  font-size: 17px;
  border-radius: 5px;
}

/* ========= 게시판 쓰기 ============ */
.board__write__title {
  display: flex;
  align-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  padding: 5px;
  font-size: 15px;
}

.board__write__title input {
  width: 100%;
}

.board__write__title input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #999;
}

.board__write__header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 10px;
}

.board__write__content {
  width: 100%;
  padding: 20px 10px;
  min-height: 250px;
  font-size: 15px;
}

.board__write__fileupload {
  width: 100%;
  padding: 20px 10px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}

/* ========= 게시판 상세보기 버튼 ============ */
.board__write__content__btn__group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.board__write__content__btn {
  width: 150px;
  height: 50px;
  background-color: #5f90db;
  color: #ffffff;
  font-size: 17px;
  border-radius: 5px;
}

/* ========= QNA ============ */
.qna__board__list__group {
  margin-top: 20px;
}

.qna__board__list {
  width: 100%;
  border-top: 4px solid #5f90db;
}

.qna__board__list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
  display: flex;
  justify-content: space-between;
}

.qna__board__list > div.qna__board__header {
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
}

.qna__board__list > div:last-child {
  border-bottom: 1px solid #ddd;
}

.qna__board__list > div > div {
  display: inline-block;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}

.qna__board__list > div.qna__board__header > div {
  font-size: 16px;
  font-weight: 500;
}

.qna__board__list .num {
  width: 5%;
  margin-left: 10px;
  white-space: nowrap;
}

.qna__board__list .title {
  width: 50%;
  text-align: left;
  white-space: nowrap;
}

.qna__board__list .division {
  width: 10%;
  margin: 0 10px;
  white-space: nowrap;
}

.qna__board__list .qna__board__header .title {
  text-align: center;
}

.qna__board__list .condition {
  width: 10%;
  white-space: nowrap;
}

.qna__board__list .writer {
  width: 10%;
}

.qna__board__list .date {
  width: 10%;
  white-space: nowrap;
}

.qna__group__name__input {
  display: flex;
  align-content: center;
  width: 75%;
  height: 50px;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
}

.qna__group__name__input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #999;
}

/* ------------- 반응형시작 -------------*/
/* 화면 너비가 576~768 태블릿*/
@media screen and (max-width: 768px) {
  .search__bar__sort {
    width: 100px;
  }

  .search__bar__inputbox {
    width: 50%;
  }

  .search__bar__qna__inputbox {
    width: 50%;
  }

  .search__bar__btn {
    width: 20%;
  }

  .search__bar__qna__btn {
    width: 20%;
  }

  .board__list .num,
  .board__list .writer,
  .board__list .count {
    display: none;
  }

  .board__list .title {
    width: 80%;
  }

  .board__list .date {
    width: 20%;
  }

  .board__list .title {
    text-indent: 10px;
  }
  .board__write__header {
    border-top: 4px solid #666666;
  }

  .board__list .top .title {
    text-indent: 0;
  }
  .board__page {
    margin: 20px 0;
  }
  .board__page a {
    width: 26px;
    height: 26px;
  }

  .board__page a.bt {
  }

  .board__page a.num {
    margin: 0px 5px;
  }

  .board__view__header {
    border-top: 4px solid #5f90db;
  }

  .board__view__content {
    min-height: 300px;
  }

  .board__view__remote__btn {
    width: 30%;
  }

  .board__view__remote__title {
    width: 70%;
  }

  .board__write__header {
    padding: 20px 0;
  }

  .board__write__fileupload {
    padding: 20px 0;
  }

  .board__write__content {
    padding: 20px 0;
  }

  /* qna */
  .qna__board__list .num,
  .qna__board__list .date,
  .qna__board__list .count,
  .qna__board__list .writer {
    display: none;
  }

  .qna__board__list .title {
    width: 65%;
  }

  .qna__board__list .division {
    width: 20%;
  }

  .qna__board__list .condition {
    width: 15%;
    margin: 0 10px;
  }

  .qna__board__list .title {
    text-indent: 10px;
  }

  .qna__board__list .top .title {
    text-indent: 0;
  }
}

/* 화면 너비가 350~576 모바일*/
@media screen and (max-width: 576px) {
  .qna__mobile__select {
    display: none;
  }
}

/* 화면 너비가 0~350 모바일*/
@media screen and (max-width: 350px) {
  .search__bar__sort {
    display: none;
  }
  .search__bar__inputbox {
    width: 75%;
  }
}
