.tab__content {
  text-align: center;
  font-size: 0;
  width: 100%;
  margin-top: 50px;
}

input[type="radio"] {
  display: none;
} /* input을 안보이게 처리 */

input[type="radio"] + label {
  width: 40%;
  display: inline-block;
  padding: 20px;
  background: #ffffff;
  color: #8b8a8e;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #999;
} /* 버튼 공통 속성 */

input[type="radio"]:checked + label {
  background: #fff;
  color: #000;
  border-bottom: 2px solid #000;
} /* 선택된 버튼속성 */

.searchconbox {
  margin: 100%;
  height: auto;
  margin: 0;
  display: none;
  text-align: left;
  font-size: 12px;
  box-sizing: border-box;
}
/* 컨텐츠박스 공통 속성 */
input[id="idtab01"]:checked ~ .idsearch {
  display: block;
}
/* 인풋에 체크가 해당 요소보이게 설정 */
input[id="pwtab02"]:checked ~ .pwsearch {
  display: block;
}

.idpw__group {
  position: relative;
  top: 15%;
  width: 100%;
  background: #fff;
}
.idpw__group .title {
  font-size: 35px;
  text-align: center;
  line-height: 50px;
  color: #282828;
  user-select: none;
  border-radius: 15px 15px 0 0;
}
.idpw__group form {
  padding: 10px;
}
.idpw__group form .field {
  height: 60px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.idpw__group form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.idpw__group form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}
.idpw__group form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.idpw__group__background {
  margin: auto;
  height: 85vh;
  width: 500px;
}

.idpw__group {
  position: relative;
  top: 15%;
  width: 100%;
  background: #fff;
  border-radius: 15px;
}
.idpw__group .title {
  font-size: 35px;
  text-align: center;
  line-height: 50px;
  color: #282828;
  user-select: none;
  border-radius: 15px 15px 0 0;
}
.idpw__group form {
  padding: 10px;
}
.idpw__group form .field {
  height: 60px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.idpw__group form .confirm {
  margin-top: 50px;
}
.idpw__group form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.idpw__group form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}
.idpw__group form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

/* 화면 너비가 576~768 태블릿*/
@media (max-width: 768px) {
  .tab__content {
    margin-top: 30px;
  }
  .idpw__group__background {
    height: 100%;
  }
}
