.tab__content {
  text-align: center;
  font-size: 0;
  width: 100%;
  margin-top: 50px;
}

/* =====탭메뉴처리===== */

/* input을 안보이게 처리 */
input[type="radio"] {
  display: none;
}

/* 버튼 공통 속성 */
input[type="radio"] + label {
  width: 40%;
  display: inline-block;
  padding: 20px;
  background: #ffffff;
  color: #8b8a8e;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #999;
}

/* 선택된 버튼속성 */
input[type="radio"]:checked + label {
  background: #fff;
  color: #000;
  border-bottom: 2px solid #000;
}

/* 컨텐츠박스 공통 속성 */
.searchconbox {
  margin: 100%;
  height: auto;
  margin: 0;
  display: none;
  text-align: left;
  font-size: 12px;
  box-sizing: border-box;
}

/* 인풋에 체크가 해당 요소보이게 설정 */
input[id="idtab01"]:checked ~ .idsearch {
  display: block;
}

input[id="pwtab02"]:checked ~ .pwsearch {
  display: block;
}

/* =====아이디패스워드CSS시작===== */

.idpw__group {
  position: relative;
  top: 15%;
  width: 100%;
  background: #fff;
}

.idpw__group .title {
  font-size: 35px;
  text-align: center;
  line-height: 50px;
  color: #282828;
  user-select: none;
  border-radius: 15px 15px 0 0;
}

.idpw__group form {
  padding: 10px;
}

.idpw__group form .field {
  height: 60px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.idpw__group form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.idpw__group form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}

.idpw__group form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.idpw__group__background {
  margin: 0 auto 100px auto;
  height: 85vh;
  width: 500px;
}

.idpw__group {
  position: relative;
  top: 15%;
  width: 100%;
  background: #fff;
  border-radius: 15px;
}

.idpw__group .title {
  font-size: 35px;
  text-align: center;
  line-height: 50px;
  color: #282828;
  user-select: none;
  border-radius: 15px 15px 0 0;
}

.idpw__group form {
  padding: 10px;
}

.idpw__group form .field {
  height: 60px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.idpw__group form .confirm {
  margin-top: 50px;
}

.idpw__group form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.idpw__group form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}

.idpw__group form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.idsearch__container {
  max-height: 70vh;
}

.idsearch__confirm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 150px auto;
}

.idsearch__confirm img {
  width: 300px;
  margin: 0 auto;
}

.idsearch__confirm h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
}

.idsearch__confirm p {
  margin-top: 20px;
  text-align: center;
}

.pwsearch__container {
  max-height: 70vh;
}

.pwsearch__confirm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 150px auto;
}

.pwsearch__confirm img {
  width: 300px;
  margin: 0 auto;
}

.pwsearch__confirm h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
}

.pwsearch__confirm p {
  margin-top: 20px;
  text-align: center;
}

#user__email {
  color: #5f90db;
  border-bottom: 1px solid #5f90db;
}

/* ------------- 반응형시작 -------------*/
/* 화면 너비가 0~768 태블릿*/
@media screen and (max-width: 768px) {
  .tab__content {
    margin-top: 30px;
  }
  .idpw__group__background {
    height: 100%;
  }
}
