form {
  margin: 0;
  margin-block-end: 0;
}

.iogin__group__background {
  margin: auto;
  height: 70vh;
  width: 500px;
}

.iogin__group {
  position: relative;
  top: 15%;
  width: 100%;
  background: #fff;
  border-radius: 15px;
}

.iogin__group .title {
  font-size: 35px;
  text-align: center;
  line-height: 50px;
  color: #282828;
  user-select: none;
  border-radius: 15px 15px 0 0;
}

.iogin__group form {
  padding: 10px;
}

.iogin__group form .field {
  height: 60px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.iogin__group form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.iogin__group form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}

.iogin__group form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  margin: 20px 0 30px 0;
  align-items: center;
  justify-content: space-between;
}

form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

form .content input {
  width: 15px;
  height: 15px;
  background: red;
}

form .content label {
  color: #666666;
  user-select: none;
  padding-left: 5px;
}

form .content .pass-link {
  margin-top: 10px;
}

form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #2c91ef;
  transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
  transform: scale(0.95);
}

form .field input[type="button"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #2c91ef;
  transition: all 0.3s ease;
}

form .field input[type="button"]:active {
  transform: scale(0.95);
}

form .signup-link {
  font-size: 16px;
  color: #666666;
  margin-top: 30px;
  text-align: center;
}

form .pass-link a {
  font-size: 14px;
  font-weight: 300;
  color: #999999;
  border-bottom: 1px solid #999999;
}

form .signup-link a {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  border-bottom: 1px solid #999999;
}

.member__id {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.member__id h5 {
  width: 30%;
}

.member__id p {
  width: 70%;
  letter-spacing: -1px;
  font-weight: 500;
  .board__view__content__question;
}

/* form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
} */

/* ------------- 반응형시작 -------------*/

/* 화면 너비가 576~768 태블릿*/
@media screen and (max-width: 768px) {
  .iogin__group,
  .idpw__group {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .iogin__group__background {
    height: 100%;
  }
}

/* 화면 너비가 0~576 태블릿*/
@media screen and (max-width: 576px) {
  .iogin__group,
  .idpw__group {
    margin-top: 90px;
    margin-bottom: 50px;
  }
}
