.mt__10 {
  margin-top: 10px;
}

.mt__20 {
  margin-top: 20px;
}

.mt__30 {
  margin-top: 30px;
}

.mt__40 {
  margin-top: 40px;
}

.mt__50 {
  margin-top: 50px;
}

.mb__10 {
  margin-bottom: 10px;
}

.mb__20 {
  margin-bottom: 20px;
}

.mb__30 {
  margin-bottom: 30px;
}

.mb__40 {
  margin-bottom: 40px;
}

.mb__50 {
  margin-bottom: 50px;
}
