.modal__background {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}

.modal__background h5 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.modal__email__content__btn {
  display: flex;
  justify-content: flex-end;
}

.modal__email__content__btn .fa-times {
  position: absolute;
  font-size: 25px;
  color: #999999;
  cursor: pointer;
  transform: translate(5px, -11px);
}

.modal__email__content__btn .fa-times:hover {
  color: #666666;
  transition: 0.3s;
}

.modal__email__content__group {
  background: #eeeeee;
  width: 490px;
  border-radius: 10px;
  padding: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -60%);
  border: 1px solid #b6b6b6;
}

.modal__email__content {
  padding: 10px;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  height: 400px;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  color: #8a8a8a;
}

.modal__email__content__group p {
  font-size: 15px;
  text-align: justify;
  word-spacing: -2;
}

/* ------------- 반응형시작 -------------*/
/* 화면 너비가 576~768 태블릿*/
@media screen and (max-width: 768px) {
  .modal__email__content__group {
    width: 90%;
    transform: translate(-50%, -50%);
  }

  .modal__email__content {
    height: 300px;
  }
}

/* 화면 너비가 0~576 모바일*/
@media screen and (max-width: 576px) {
  .signup__box__item__group .signup__box__item__title {
    font-size: 15px;
    word-spacing: -2;
  }
}
