/* 영상자료시작 */

.board__list__eduvideo__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.eduvideo__item {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: auto;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  transition: transform 0.5s;
}

.eduvideo__item:hover {
  transform: translateY(-3px);
}

/* 0521추가(마우스 hover시 아이콘 노출) 시작 */
.eduvideo__item__tum__group {
  position: relative;
  overflow: hidden;
}

.eduvideo__item__tum__background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 97%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s;
}

.eduvideo__item__tum__background:hover {
  opacity: 1;
}

.eduvideo__item__tum__background img {
  width: 50px;
  height: 50px;
}
/* 0521추가(마우스 hover시 아이콘 노출) 끝 */

/* 0521수정(margin-bottom삭제, position:realtive추가) */
.eduvideo__item__tum {
  width: 100%;
  position: relative;
}

.eduvideo__item__group {
  position: relative;
}

/* 0521수정(h5로 변경, margin-bottom삭제, margin 추가) */
.eduvideo__item h5 {
  width: 100%;
  font-size: 15px;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 0521추가(동영상강의-강의자명추가)*/
.eduvideo__item h6 {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  margin-left: auto;
  text-align: left;
}
/* 0521수정(min-heigh수정)*/
.eduvideo__item p {
  min-height: 95px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.board__list__eduvideo__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.eduvideo__item__btn {
  width: 100%;
  height: 33px;
  background-color: #5f90db;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.eduvideo__item__btn:hover {
  background-color: #3b6bb3;
}

/* 케이스스터디시작 */

.casestudy__group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.casestudy__item {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: auto;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  transition: transform 0.5s;
}

.casestudy__item:hover {
  transform: translateY(-3px);
}

.casestudy__item__tum {
  width: 100%;
  margin-bottom: 10px;
}

.casestudy__item h5 {
  width: 100%;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.casestudy__item h6 {
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.casestudy__item p {
  min-height: 120px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 300;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.casestudy__item__btn {
  width: 100%;
  height: 33px;
  background-color: #5f90db;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.casestudy__item__btn:hover {
  background-color: #3b6bb3;
}

/* .casestudy__btn__group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.casestudy_btn {
  width: 150px;
  height: 50px;
  background-color: #2c91ef;
  color: #ffffff;
  font-size: 17px;
  border-radius: 5px;
} */

/* 라인 */
hr {
  border: 0;
  width: 20px;
  border-top: 2px solid #c6c6c6;
  margin: 5px auto;
}

/* ------------- 반응형시작 -------------*/
/* 화면 너비가 768~960px */
@media screen and (max-width: 960px) {
  .eduvideo__item {
    width: 49%;
  }
  .casestudy__item {
    width: 49%;
  }
}

/* 화면 너비가 0~576 태블릿*/
@media screen and (max-width: 576px) {
  .eduvideo__item {
    width: 100%;
  }
  .eduvideo__item p {
    min-height: 90px;
  }

  .casestudy__item {
    width: 100%;
  }

  .casestudy__item p {
    min-height: 90px;
  }
}
